*{
 padding: 0;
 margin: 0;
}
body{
    overflow-x: hidden;
}
#first{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 40px;
    display: flex;
}
#second{
    padding: 7px;
    margin-left:  3%;
}
#third{
       padding: 10px;
    margin-left:  4px;
}
#four{
    padding: 7px;
    margin-left: 5%;
}
#five{
    padding: 10px;
    margin-left:  4px;

}
#six{
    padding: 10px;
    margin-left: 39%;
}
#seven{
    margin-left: 5px;
    padding: 7px; 
   
   text-decoration: none;
  
}
#eight{
    
    color: rgb(0, 0, 0);
    height: 70px;
    display: flex;
}
#nine{
    padding-top: 19px;
    padding-left: 3%;
    
}
#ten{
    padding-top: 19px;
    font-size: 30px;
    font-weight: 300;
    padding-left: 15px;
    
}



#eleven{

    display: block;
    margin-left: 53%;
    padding-top: 30px;
    
} 
.A{
    margin-left: 22px;
    text-decoration: none;
    color: black;

}
.A:hover{
   background-color: black;
   color: white;
   border-radius: 10%;
}
.A:active{
   background-color: rgb(85, 84, 84);
    color:white;
}
#twelve{
    display: none;
    margin-left: 26.2%;
    padding-top: 30px;
}
.B{
    margin-left: 22px;
    text-decoration: none;
    color: black;
}
.B:hover{
   background-color: black;
   color: white;
   border-radius: 10%;
}
.B:active{
   background-color: rgb(85, 84, 84);
    color:white;
}
.L{
    color: white;
}



#nav{
    display: none; 
}
.nav1{
    padding-top: 25px;
    margin-left: 2%;
    cursor: pointer;
}
#circle{
    border: 2px solid; 
    border-radius: 15%;
}
#circle:hover{
    background-color: black;
    color: white;
}
#circle:active{
    background-color: rgb(85, 84, 84);
    color: white;
}

#nav:checked ~ #eleven {
    display: none;
}
#nav:checked ~ #twelve {
    display: block;
}
/*--------------------------------------------*/
#a1 {
  float: left;
  overflow: hidden;
}
#a1:hover #a2{
    display: block;
}
#a2{
    display: none;
  position: absolute;
  z-index: 1;
}
#a2 a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: black;
  
}
/*--------------------------------------------*/
/*---------------footer-----------------*/
footer{
    
    background-color: rgb(85, 84, 84);
}

#last{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
   
}
#last1{
    font-size: large;
    display: flex;
    justify-content: center;
    margin:1.2% 5% 1% 5%;
}
#last2{
 margin-left: 5%;

}
#last3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.C{
    height: 30px;
    width: 30px;
    margin-left: 14px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;


}
#last4{
    margin-left: 72.1%;
    margin-bottom: 15px;
}
#last5{
    margin-left: 5%;
    font-size: large;
    font-weight: 400;

}
#last6{
    visibility: hidden;
}

#last8{
    margin-top: 7px;
    visibility: hidden;
}
#last9{
    margin-bottom: 30px;
}
.D{
    font-size: large;
}
/*-----------------------main-------------------------------------------*/
#main2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    font-weight: 700;
     background-color:black;
     height: 50px;
     color:white;
}
#main1{
    
  
    display: flex;
    gap: 38px;
    justify-content: center;
     background-color: rgb(85, 84, 84);
}
#main3{
   
    
    display: flex;
     background-color: rgb(85, 84, 84);
    color: black;
}
.E{
    border: 3px solid ;
    border-radius: 9px;

}
#main4{
 margin-left: 85px;
}
#main5{
    margin-left: 115px;
}
#main6{
    margin-left: 154px;
}
#main7{
    margin-left: 175px;
}
#main8{
    background-color: rgb(85, 84, 84);
    height: 585px;
    display: flex;
    color: white;
}
#main9{
    height: 450px;
    padding-top: 45px;
    margin-left: 58px;
}
#main10{
    padding-top: 40px;
    font-size: 55px;
    font-weight: 400;
    margin-left: 140px;
}
#main11{
    padding-top: 10px;
    font-size: 55px;
    font-weight: 400;
    margin-left: 140px;
}
#main12{
    margin-left: 110px;
}
.F{
    height: 30px;
    width: 30px;
    background-color: white;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 33px;

}
#main19{
    display: flex;
    margin-left: 155px;
    
   
}
#main20{
    display: flex;
   margin-left: 155px;
}
#main21{
    display: flex;
    margin-left: 155px;
   
}
#main14{
    margin-left: 226px;
}
#main16{
    margin-left: 109px;
}
#main18{
    margin-left: 167px;
}
#main13,#main14,#main15,#main16,#main17,#main18
{
font-size: 24px;
font-weight: 100;
display: flex;
}
.G{
    margin-left: 21px;
    margin-top: 42px;
}
#main22{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 44px;
    
}
#main23{
    margin-top: 15px;
    font-size: large;
    font-weight: 100;

}
#main24{
    display: flex;
}
/*--------------------------------------*/
#main25{
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: 700;
    margin-top: 22px;
    background-color: black;
color: white;
}
#main255{
background-color: black;

}
#main27{
    display: flex;
    justify-content: space-evenly;
    margin-left: 4.7%;
    margin-right: 4.7%;
   background-color: black;

}
#middle{
    background-color: black;
    height: 50px;
}
#main266{
   
     
 background-color: rgb(85, 84, 84);
 margin-bottom: 22px;
     
}
#mainl{
    font-size: 34px;
    visibility: hidden;
}
.H{
    height: 200px;
     
 
}
#main26{
   
    background-color: rgb(85, 84, 84);
}
#main28{
    
    display: flex;
    justify-content: space-evenly;
    margin-left: 4.7%;
    margin-right: 4.7%;
}

#main29{
    margin-top: 20px;
    display: flex;
   
    

}

#main30{
    margin-left: 155px;
}
#main31{
    margin-left: 200px;
}

#main32{
    margin-left: 185px;
}

#main33{
    margin-left: 190px;
}
.K{
    font-size: larger;
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 11px;
    width:115px;
}
.mainll2 p{
    font-size: 34px;
    visibility: hidden;
}
.mainll2{
    margin-bottom: 44px;
    background-color: rgb(85, 84, 84);
    
}
.mainll1 p{
    visibility: hidden;
    font-size: 34px;
}

.mainll1{
    
    
    background-color: rgb(85, 84, 84);
}
.J{
width: 299px;
}

